<div style="height: 200px;" class="row">
  <div class="col-4 my-auto">
    <img src="assets/images/logo.png" alt="logo" />
  </div>
  <div class="col-8">
    <div class="row h-25 align-items-center">
      <div class="col"></div>
      <div class="col-8">
        <div class="row">
          <div class="col-4">
            <span class="headerTopMenu ">CONTACT US/FAQ</span>
          </div>
          <div class="col-4">
            <span class="headerTopMenu">TERMS AND CONDITIONS</span>
          </div>
          <div class="col-4">
            <span class="headerTopMenu">BUYING ONLINE</span>
          </div>
        </div>
      </div>

    </div>
    <div class="row h-25 align-items-center">
      <div class="col"></div>
      <div class="col-8">
        <div class="row">
          <div class="col-10">
            <div class="input-group flex-nowrap">
              <input type="text" class="form-control" placeholder="Search Abano cosmetics" aria-label="Username"
                aria-describedby="addon-wrapping" />
              <span class="input-group-text" id="addon-wrapping"><i class="fa fa-search"></i></span>
            </div>
          </div>
          <div class="col-1 my-auto">
            <img src="assets/icons/user.png" alt="" />
          </div>
          <div class="col-1 my-auto">
            <img src="assets/icons/shopping-bag.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="row h-50 align-items-center">
      <div class="col d-flex justify-content-center">
        <span class="fontMainMenu" style="color: #eb6d9d">SHOP</span>
      </div>
      <div class="col-md-auto d-flex justify-content-center">
        <span class="fontMainMenu">ABOUT ABANO COSMETICS</span>
      </div>
      <div class="col d-flex justify-content-center">
        <span class="fontMainMenu">BEAUTY TIPS</span>
      </div>
      <div class="col d-flex justify-content-center">
        <span class="fontMainMenu">BLOG</span>
      </div>
      <div class="col d-flex justify-content-center">
        <span class="fontMainMenu">CONTACT</span>
      </div>
    </div>
  </div>
</div>