<app-join-newsletter />
<div class="row py-4 px-5 bg-black justify-content-evenly">
    <div class="col d-flex justify-content-end">
        <div>
            <img class="my-4" src="assets/images/logo.png" alt="">
            <div class="ps-4 float-end">
                <p class="footerTxt">C,3/3 SOUTH CHHYABITHY GAZIPUR, BANGLADESH</p>
                <p class="footerTxt">CUSTOMER SERVICE HOURS: M-F 10AM-5PM CLOSED WEEKEND & HOLIDAYS</p>
                <p class="footerTxt">+8801716942391</p>
            </div>
        </div>


    </div>
    <div class="col d-flex justify-content-end">
        <div style="width: 80%;">
            <p class="footerTitleTxt my-5 d-flex align-items-center">DEPARTMENTS</p>

            <a class="footerTxt" style="line-height: 2;" href="">RADIANCE GLOW SERUM</a>
            <a class="footerTxt" style="line-height: 2;" href="">AGELESS EYE CREAM</a>
            <a class="footerTxt" style="line-height: 2;" href="">COVERAGE FOUNDATION</a>
            <a class="footerTxt" style="line-height: 2;" href="">BEAUTIFUL LIPSTICK</a>
            <a class="footerTxt" style="line-height: 2;" href="">SHAMPOO</a>
            <a class="footerTxt" style="line-height: 2;" href="">HAIR OIL</a>
        </div>
    </div>
    <div class="col d-flex justify-content-end">
        <div style="width: 80%;">
            <p class="footerTitleTxt my-5 d-flex align-items-center">NAVIGATE</p>
            <a class="footerTxt" style="line-height: 2;" href="">PRIVACY POLICY</a>
            <a class="footerTxt" style="line-height: 2;" href="">ABOUT US</a>
            <a class="footerTxt" style="line-height: 2;" href="">SHIPPING/REFUND</a>
            <a class="footerTxt" style="line-height: 2;" href="">TERMS & CONDITIONS</a>
        </div>
    </div>
    <div class="col d-flex justify-content-end">
        <div style="width: 80%;">
            <p class="footerTitleTxt my-5 d-flex align-items-center w-auto">RESOURCES</p>
            <a class="footerTxt w-auto" style="line-height: 2;" href="">CONTACT US / FAQ</a>
            <a class="footerTxt w-auto" style="line-height: 2;" href="">SHIPPING/REFUND</a>
            <a class="footerTxt w-auto" style="line-height: 2;" href="">BUY ONLINE</a>
            <br><br>

            <img class="mx-2" src="assets/icons/facebook.png" alt="">
            <img class="mx-2" src="assets/icons/instagram.png" alt="">
        </div>

    </div>
</div>