.newsletterTxt1{
    font-family: Oswald;
    font-size: 35px;
    font-weight: 500;
    color: white;
}

.newsletterTxt2 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.newsletterBtn {
    font-family: Oswald;
    font-size: 24px;
    font-weight: 500;
    color: white;
    background-color: #EB6D9D;
}