<app-welcome />
<br><br>
<div class="row">
    @for (category of this.categoryList; track $index) {
    <div class="col p-2">
        <app-landing-category [category]="category" />
    </div>
    }

</div>
<br><br>
<h3 class="landingAreaTitle text-center">BEST SELLING PRODUCTS</h3>
<div class="row gx-5 row-cols-3">
    @for (bestSeller of this.bestSellerProductList; track $index) {
    <div class="col">
        <div class="p-3">
            <app-product [product]="bestSeller" />
        </div>
    </div>
    }
</div>
<br><br>
<h3 class="landingAreaTitle text-center">CUSTOMER REVIEWS</h3>
<br>
<div class="row">
    <div class="col-1 my-auto">
        <button class="border-0 bg-transparent" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <img src="assets/icons/previous.png" alt="">
            <span class="visually-hidden">Previous</span>
        </button>
    </div>
    <div class="col-10">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @for (customerReview of customerReviewsSplited; track $index) {
                @if ($index == 0) {
                <div class="carousel-item active">
                    <div class="row justify-content-evenly">
                        @for (item of customerReview; track $index) {
                        <div class="col-3">
                            <app-customer-review [customerReview]="item" />
                        </div>
                        }
                    </div>
                </div>
                }
                @else{
                <div class="carousel-item">
                    <div class="row justify-content-evenly">
                        @for (item of customerReview; track $index) {
                        <div class="col-3">
                            <app-customer-review [customerReview]="item" />
                        </div>
                        }
                    </div>
                </div>
                }
                }
            </div>
        </div>
    </div>
    <div class="col-1 my-auto">
        <button class="border-0 bg-transparent" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <img src="assets/icons/next.png" alt="">
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<br><br>