<div style="border-color: grey;" class="row border p-5">
    <div class="col-6">
        <div class="row">
            <p id="welcomeParagraph">WELCOME TO ABANO COSMETICS, WHERE WE BELIEVE IN THE POWER OF NATURAL BEAUTY. OUR
                MISSION IS TO CREATE EFFECTIVE, HIGH-QUALITY COSMETICS THAT ENHANCE YOUR NATURAL FEATURES AND LEAVE YOU
                FEELING CONFIDENT AND BEAUTIFUL</p>
        </div>
        <div class="row">
            <div class="col-4">
                <button id="welcomeBtn" class="p-3 w-100">SHOP NOW</button>
            </div>
            <div class="col"></div>

        </div>
    </div>
    <div class="col-6">

    </div>
</div>