.productTitle{
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
}

.productPrice {
    font-size: 28px;
    font-family: Montserrat;
    font-weight: 700;
}

.productBtn {
    background-color: #EB6D9D;
    color: white;
    border: 0px;
    font-family: Oswald;
    font-weight: 500;
    font-size: 12px;
}