<div>
    <div class="d-flex justify-content-center">
        <img class="mx-auto" src="assets/icons/customerReviewQuotes.png" alt="quotes">
    </div>
    <div class="d-flex justify-content-center m-2">
        <div>{{customerReview?.stars! | stars}}</div>
    </div>
    <div class="d-flex justify-content-center">
        <p class="customerReviewText">{{customerReview?.text}}</p>
    </div>
    <div class="d-flex justify-content-center">
        <span class="customerReviewReadMore" style="color: #DF001C;">Read More</span>
    </div>
    <div class="d-flex justify-content-center">
        <span class="customerReviewReadMore">{{customerReview?.customerName}}</span>
    </div>
</div>

<!-- @for (i of Arr(customerReview?.stars! - customerReview?.stars!%1).fill(1); track $index) {
<i class="fa fa-star" aria-hidden="true"></i>
}
@if (customerReview?.stars! % 1 == 0.5 ) {
<i class="fa fa-star-half-o" aria-hidden="true"></i>
} -->