<div>
    <div class="d-flex justify-content-center">
        <img class="mx-auto" src="assets/icons/customerReviewQuotes.png" alt="quotes">
    </div>
    <div class="d-flex justify-content-center m-2">
        <img class="mx-auto" src="assets/icons/customerReviewStars.png" alt="stars">
    </div>
    <div class="d-flex justify-content-center">
        <p class="customerReviewText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus ex id nibh
            gravida hendrerit. Morbi blandit, sem id commodo commodo,</p>
    </div>
    <div class="d-flex justify-content-center">
        <span class="customerReviewReadMore" style="color: #DF001C;">Read More</span>
    </div>
    <div class="d-flex justify-content-center">
        <span class="customerReviewReadMore">Josean V.</span>
    </div>
</div>